<form role="form" [formGroup]="attachmentform">

<div class="row mt-4">
  <div class="col-xs-4 col-sm-12 col-md-4 col-lg-4 col-xl-4 col-xxl-4">
    <div class="colum_first">
      <table class="table" aria-describedby="tabla-visualizacion-documentos">
        <thead>
        <tr>
          <th scope="col">Descripción</th>
          <th scope="col">Documento</th>
          <th scope="col">Cumple?</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let document of documentSupports">
          <td>{{document.idDocumentProcNavigation.description}}</td>
          <td class="d-flex mx-auto">
            <img (click)="archiveService.viewArchiveInPopUp(document.path)" [src]="urlIconExternalWindow" class="img-fluid icon" alt="imagen-pdf-external">
            <img (click)="archiveService.viewArchiveActualWindow(document.path)" [src]="urlIconActualWindow" class="img-fluid icon" alt="imagen-pdf-actual">
          </td>
          <td>
            <mat-radio-group name="opciones_{{document.idDocumentTypeProcedureRequest}}" aria-label="Select an option"
                             (change)="statechange(document.idDocumentTypeProcedureRequest)"  >
              <mat-radio-button value="1" checked="{{document.is_valid}}"  style="margin: 10px">
                SI
              </mat-radio-button>
              <mat-radio-button  value="2"  checked="{{!document.is_valid}}" style="margin: 10px">
                NO
              </mat-radio-button>
            </mat-radio-group>

          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-xs-8 col-sm-12 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
    <div class="border">
      <div style="display: flex;align-items: center;justify-content: center;">
        <iframe   width="1500" height="500" src="" title="visualizacion-documento"></iframe>
      </div>
    </div>
  </div>
</div>
</form>
