.govco-co{
  content: url(../../../../../assets/images/logo-colombia.svg)!important;
}

.govco-logo {
  content: url(../../../../../assets/images/logo.svg)!important;
}
.govco-data-front {
  -webkit-box-shadow: 50px 30px 0px -30px #f42f63, -50px 30px 0px -30px #f42f63, 0px 20px 0px 0px #f42f63,
  50px 50px 0px -30px #f42f63, -50px 50px 0px -30px #f42f63;
  box-shadow: 50px 30px 0px -30px #f42f63, -50px 30px 0px -30px #f42f63, 0px 20px 0px 0px #f42f63,
  50px 50px 0px -30px #f42f63, -50px 50px 0px -30px #f42f63;
  top: 0;
  border: 2px solid #e5eefb;
  border-radius: 10px;
  opacity: 1;
}
