th {
  padding: 15px 15px 15px 15px;
  border-right: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  background-color: #FFFFFF;
  color: black;
  font-weight: bold;
}
td {
  padding: 15px 15px 15px 15px;
  border-right: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  background-color: #FFFFFF;
  color: black;
  font-weight: normal;
}
.total {
  font-weight: inherit;
  float: right;
}

