<form [formGroup]="validatorForm" class="mt-3">
  <app-advance-line [step]="stepAdvanceLine" [currentProgress]="currentProgressAdvanceLine"
                    [source]="'validador'"></app-advance-line>


  <div class="row   align-items-center mx-auto mt-5">
    <ul class="nav nav-tabs ">
      <li class="nav-item">
        <a class="nav-link active">Por Asignar</a>
      </li>
    </ul>
    <div class="border">

      <br> <br>
      <p>filtrar por:</p>
      <div class="row mt-3 entradas-de-texto-govco ">

        <div class="mt-3 col-xxl-3 col-md-3 col-lg-3 col-sm-3 col-xs-3">
          <select class="form-select" id="selector" aria-label="Default select example"
                  formControlName="selector">
            <option value="" selected disabled>Seleccione</option>
            <option value="filed_number">Id Solicitud</option>
            <option value="IdNumber">No Doc de Identidad</option>
            <option value="AplicantName">Nombre Solicitante</option>
            <option value="TitleType">Tipo de Título</option>
            <option value="filed_date">Fecha de Registro Solicitud</option>
            <option value="status">Estado de la Solicitud</option>
            <option value="tiempo">Tiempo de Atención Restante</option>
          </select>
        </div>
        <div class="mt-3 col-xxl-3 col-md-3 col-lg-3 col-sm-3 col-xs-3">
          <select class="form-select" id="pageNumber" aria-label="Default select example"
                  formControlName="pageNumber"
                  (change)="pasarpagina()"
          >
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>

          </select>
        </div>
        <div class="mt-3 col-xxl-3 col-md-3 col-lg-3 col-sm-3 col-xs-3">
          <div>
            <input type="text" id="textfilter" formControlName="textfilter" placeholder="Ingrese Su Busqueda"/>
          </div>
        </div>
        <div class="mt-3 col-xxl-3 col-md-3 col-lg-3 col-sm-3 col-xs-3">
          <div>
            <button type="button" style="margin-left: 1rem;" (click)="getdashboard()" class="btn-govco fill-btn-govco">
              Buscar
            </button>
          </div>
        </div>


      </div>


      <br><br>
      <div class="row">
        <div class="mt-3 col-12  ">
          <span class="total"> {{paginator}}</span>
        </div>
          <div class="table col-12">
            <div class="table-responsive">
              <table class="table table-striped " aria-describedby="tabla-funcionarios">

                <tr>
                  <th>Id Solicitud</th>
                  <th>No Doc de Identidad</th>
                  <th>Nombre Solicitante</th>
                  <th>Tipo de Título</th>
                  <th>Fecha de Registro Solicitud</th>
                  <th>Estado de la Solicitud</th>
                  <th> Tiempo de Atención Restante</th>
                  <th>Acciones Permitidas</th>

                </tr>
                <tbody>
                <tr *ngFor="let item of tableFilter; let i= index">
                  <td>{{item.idfiled}}</td>
                  <td> {{item.idnumber}}  </td>
                  <td>{{item.aplicantname}}</td>
                  <td>{{item.titletype}}</td>
                  <td>{{item.fileddate | date: 'dd/MM/yyyy'}}</td>
                  <td *ngIf="item.statusstring != null">{{item.statusstring}}</td>
                  <td style="background-color:{{item.color}};">{{item.daysleft}}</td>
                  <td *ngIf="item.validation" class="text-justify">
                    <a (click)="validar(item.idprocedure)"> <u class="govco-edit-1">Validar</u> </a>
                  </td>
                  <td *ngIf="!item.validation"></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

      <div class="mt-3 col-12 colum_paginator">
        <mat-paginator class="paginator" [hidePageSize]="true"
                       [pageSize]="validatorForm.get('pageSize').value"></mat-paginator>
      </div>
      </div>
    </div>
  </div>


</form>
