<<div class="row w-50 justify-content-center align-items-center mx-auto border ">

  <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 col-xxl-9  " >

    <br><br>
    <h2 class="text-center" >Registro Ventanilla Unica</h2>
    <br><br>
  <div role="article">
    <p>Tenga en Cuenta que para realizar nuestros trámites en línea, es obligatorio diligenciar previamente el
      REGISTRO DEL CIUDADANO (persona natural o jurídica), el cual servirá para la realización de trámites posteriores
      ante la Secretaria Distrital de Salud.</p>
  </div>
    <br><br>
  <div class="row mx-auto">
    <div class="col-sm-5 col-md-5" >
      <button (click)="Natural()" type="button" class="btn-govco fill-btn-govco">Registro Persona Natural</button>
    </div>

    <div class="col-sm-5 col-md-5 " style="margin-left: 6rem">
      <button (click)="Juridica()" type="button" class="btn-govco fill-btn-govco">Registro Persona Jurídica</button>
    </div>

  </div>
    <br><br>
  </div>

</div>
