<form role="form">
  <div class="row">
    <legend>
      <h3>Registro Persona Natural</h3>
    </legend>

    <div class="alert alert alert-danger" role="alert">
      <p [innerHTML]="cadenaInicioRegistro"></p>
    </div>

    <div class="accordion-govco" id="accordionParent">

      <div class="item-accordion-govco">
        <h2 class="accordion-header" id="accordionIconoPanels-childOne">
          <button class="button-accordion-govco collapsed"
                  type="button"
                  data-bs-toggle="collapse" data-bs-target="#accordionIconoPanels-collapseOne"
                  aria-expanded="false" aria-controls="accordionIconoPanels-collapseOne">
                  <span class="text-button-accordion-govco">
                    <h4 class="h4-tipografia-govco title-1">Datos básicos</h4>
                  </span>
          </button>
        </h2>
        <div id="accordionIconoPanels-collapseOne" class="accordion-collapse collapse"
             aria-labelledby="accordionIconoPanels-childOne" data-bs-parent="#accordionParent">
          <div class="body-accordion-govco">

            <div class="col-sm-12 col-md-3">
              <div class="entradas-de-texto-govco">
                <label for="primer-nombre">Primer Nombre<span class="required">(*)</span></label>
                <input type="text" id="primer-nombre" placeholder="Primer Nombre" formControlName="primerNombre"
                       />
                <span
                  class="error-texto-govco alert-entradas-de-texto-govco" id="primer-nombre-note" role="alert"
                  aria-live="assertive">
            {{ getErrorMessage('primerNombre') }}
        </span>
              </div>
            </div>

            <div class="col-sm-12 col-md-3">
              <div class="entradas-de-texto-govco">
                <label for="segundo-nombre">Segundo Nombre</label>
                <input type="text" id="segundo-nombre" placeholder="Segundo Nombre" formControlName="segundoNombre"/>
              </div>
            </div>

            <div class="col-sm-12 col-md-3">
              <div class="entradas-de-texto-govco">
                <label for="primer-apellido">Primer Apellido<span class="required">(*)</span></label>
                <input type="text" id="primer-apellido" placeholder="Primer Apellido" formControlName="primerApellido"
                       />
                <span
                  class="error-texto-govco alert-entradas-de-texto-govco" id="primer-apellido-note" role="alert"
                  aria-live="assertive">
            {{ getErrorMessage('primerApellido') }}
        </span>
              </div>
            </div>

            <div class="col-sm-12 col-md-3">
              <div class="entradas-de-texto-govco">
                <label for="segundo-apellido">Segundo Apellido</label>
                <input type="text" id="segundo-apellido" placeholder="Segundo Apellido" formControlName="segundoApellido"/>
              </div>
            </div>


          </div>
        </div>
      </div>


      <div class="item-accordion-govco">
        <h2 class="accordion-header" id="accordionIconoPanels-childTwo">
          <button class="button-accordion-govco collapsed"
                  type="button"
                  data-bs-toggle="collapse" data-bs-target="#accordionIconoPanels-collapseTwo"
                  aria-expanded="false" aria-controls="accordionIconoPanels-collapseTwo">
                  <span class="text-button-accordion-govco">
                    <h4 class="h4-tipografia-govco title-1">Representante Legal</h4>
                  </span>
          </button>
        </h2>
        <div id="accordionIconoPanels-collapseTwo" class="accordion-collapse collapse"
             aria-labelledby="accordionIconoPanels-childTwo" data-bs-parent="#accordionParent">
          <div class="body-accordion-govco">


          </div>
        </div>
      </div>

    </div>
  </div>

