h3{
  font-size: small;
}

th {
  padding: 15px 15px 15px 15px;
  border-right: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  background-color: #FFFFFF;
  color: black;
  font-weight: bold;
}
td {
  padding: 15px 15px 15px 15px;
  border-right: 1px solid #aaa;
  border-left: 1px solid #aaa;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  background-color: #FFFFFF;
  color: black;
  font-weight: normal;
}
img{cursor:pointer}
.icon {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.iframe {
  width: 100%;
  border: 1px solid #000;
  height: 100vh;
}

.pdf-viewer {
  height: 100vh;
  width: 80vw;
  display: block;
  margin: 0 auto;
}
.total {
  font-weight: inherit;
  float: right;
}



