<div class="d-flex flex-column general-layout">
  <div class="content-layout" id="content-layout-id">
    <main class="scroll" id="interno">
      <div class="information d-flex justify-content-center">

        <div class="govco-form-signin col-lg-6 col-md-6 col-12 my-4">
          <form [formGroup]="loginForm">





            <div class="row mt-3">
              <div class="row col-10 mt-3" style="text-align: center">
                <div class="col-sm-11 col-md-11">
                  <button type="submit"
                          (click)="submitLoginForm()"
                          class="btn-govco fill-btn-govco">INICIAR SESIÓN</button>
                </div>
              </div>
              <div class="row col-10  mt-3" style="text-align: center">
                <div class="col-sm-11 col-md-11">
                  <button type="submit"
                          (click)="Register()"
                          class="btn-govco fill-btn-govco">REGISTRAR</button>
                </div>
              </div>

            </div>


          </form>
        </div>
      </div>
    </main>
  </div>
</div>


