<div class="d-flex flex-column general-layout">
  <div>
    <app-header></app-header>
    <app-breadcrumb></app-breadcrumb>
  </div>
  <div class="content-layout" id="content-layout-id">
    <!--<app-address-modal></app-address-modal>-->
    <!--<main class="container-fluid flex-fill scroll">-->
    <main class="scroll" id="interno">
      <div class="information">
        <router-outlet *ngIf="!isIframe"></router-outlet>
      </div>
      <aside>
        <app-accesibility></app-accesibility>
      </aside>
      <!--
      <div class="row" style="margin-left: 80px">
        <h1>Bienvenido al tramite de Licencias en Seguridad y Salud en el Trabajo</h1>
        <h2>Inicie sesión y navegue por las distintas opciones de su menú</h2>
      </div>
      -->
      <app-go-up></app-go-up>

      <div class="linea">
        <app-footer></app-footer>
      </div>
    </main>
  </div>
</div>

